<!-- app/views/movies/_movie.html.erb -->

<div class="movie">
  <h3><%= movie.title %></h3>
  <p>Rating: <%= movie.rating %></p>
  <p>Release Date: <%= movie.release_date.strftime('%F') %></p>
  <hr>
</div>